body.withnav {
    padding-top: 70px;
}

.navbar-brand {
  font-size: 18px;
}

.navbar-inverse {
  background-color: #222;
  border-color: #080808;
}


.member {
  display: inline-block;
  width: 100px;
}

.label-quiz{
  margin: 2px;
}

.label-0 {
  background-color: #777;
}
.label-1 {
  background-color: #337ab7;
}
.label-2 {
  background-color: #5cb85c;
}
.label-3 {
  background-color: #5bc0de;
}
.label-4 {
  background-color: #f0ad4e;
}
.label-5 {
  background-color: #d9534f;
}
