html(lang='en')
  include header
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href='#')
            p Maths Quiz Admin
        div#navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Teams
            li
              a(href='#') Leaderboard

    div.container(role='main')
      h1 Team List
      ul
        each t in teams
          li= t.name


      form(method='post')
        fieldset
          legend Name
          p
            label(for="team[name]") Team name
              input(type='text', name='team[name]', value=team.name)
        p.buttons
          input(type='submit', value='Create')
