html(lang='en')
  include header
  body
    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href='#')
            p.navbar-text Maths Quiz

    div.container(role='main')
      form
        label(for="teamname]") Team name
          input(type='text', name='teamname', value='', autocapitalize='off')
        label(for="membername") Your name
          input(type='text', name='membername', value='', autocapitalize='off')
        input(type='submit', value='Join')
