html(lang='en')
  include header
  body
    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href='#')
            p.navbar-text Maths Quiz

    div.container(role='main')
      form
        label(for="teamname]") Team name
        .input-group
          input(type='text', name='teamname', value=query.teamname, autocapitalize='off')
          if error_team
            div.alert.alert-danger(role='alert')
              span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
              span #{error_team}

        label(for="membername") Your name
        .input-group
          input(type='text', name='membername', value=query.membername, autocapitalize='off')
          if error_member
            div.alert.alert-danger(role='alert')
              span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
              span #{error_member}
              
        .input-group
          input(type='submit', value='Join team')
