html(lang='en')
  include header
  body
    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href='#')
            p Maths Quiz

    div.container(role='main')
      div.panel.panel-default
        div.panel-heading
          p
            b user:
            = member.name
          p
            b team:
            = member.team.name
        div.panel-body
          div#members
        div.panel-body
          div#quiz
            button.btn.btn-default(onClick='startQuiz()') Start



    script.
      $(document).ready(function(){
        $('#members').load('/members')
      })
    script(src='js/quiz.js')
