html(lang='en')
  include header
  body
    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href='#')
            p Maths Quiz

    div.container(role='main')
      div.panel.panel-default
        div.panel-heading
          p
            b
              span.member Your team:
            = member.team.name
          p
            b
              span.member Your name:
            = member.name
        div.panel-body
          div#members
        div.panel-body
          div#quiz
            b Press start when all your team members have joined:
            button.btn.btn-default(onClick='startQuiz()') Start



    script.
      $(document).ready(function(){
        $('#members').load('/members')
      })
    script(src='js/quiz.js')
    if member.team.started
      script.
        $(document).ready(function(){
          $('#quiz').load('/quiz');
        })
    else
      script.
        setTimeout(function(){ location.reload();},2000)
    end
